<template name="lottery_home">
    <br><br>
    <div class="col-md-12" style="height: 250px">
        <div class="col-md-6" style="height: 250px">
            <div class="panel panel-primary">
                <div class="panel-heading"  style="background-color: #0D3349;">
                    <h3 class="panel-title"><img src="/data.ico" width="25px"
                                                 height="25px"> Data Entry</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4 textcenter">
                        <a href="{{pathFor 'lottery.agent'}}">
                            <img class="img" src="/agent.png">
                            <span style="font-size:xx-small;">Agent</span>
                        </a>
                    </div>
                    {{#if isInRole 'data-insert,data-update,data-remove' 'Lottery'}}
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.result'}}">
                                <img class="img" src="/result.gif">
                                <span style="font-size:xx-small;">Result</span>
                            </a>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="col-md-6" style="height: 250px">
            <div class="panel panel-primary">
                <div class="panel-heading"  style="background-color: #0D3349;">
                    <h3 class="panel-title"><img src="/setting.ico" width="25px"
                                                 height="25px"> Setting</h3>
                </div>
                <div class="panel-body">
                    {{#if isInRole 'setting' 'Lottery'}}
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.transferMoney'}}"><img class="img"
                                                                               src="/money-transfer.png"><span
                                    style="font-size:xx-small">Transfer Money</span></a>
                        </div>
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.endOfProcess'}}"><img class="img" src="/end.png"><span
                                    style="font-size:xx-small">End Per Day</span></a>
                        </div>
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.endPerMonth'}}"><img class="img" src="/endPerMonth.png"><span
                                    style="font-size:xx-small">End Per Month</span></a>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="col-md-12" style="height: 250px">
        <div class="col-md-6" style="height: 250px">
            <div class="panel panel-primary">
                <div class="panel-heading"  style="background-color: #0D3349;">
                    <h3 class="panel-title"><img src="/report.ico" width="25px"
                                                 height="25px"> Report</h3>
                </div>
                <div class="panel-body">
                    {{#if isInRole 'report' 'Lottery'}}
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.betReport'}}">
                                <img class="img" src="/betReport.png"><span
                                    style="font-size:xx-small">Bet</span></a>
                        </div>
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.winLossReport'}}">
                                <img class="img" src="/winLose.png"><span
                                    style="font-size:xx-small">Win/Lose</span></a>
                        </div>
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.dailySummaryReport'}}">
                                <img class="img" src="/dailySumary.png"><span
                                    style="font-size:xx-small">Daily Summary </span></a>
                        </div>
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.dailyReport'}}">
                                <img class="img" src="/dailySumary.png"><span
                                    style="font-size:xx-small">Daily By Agent</span></a>
                        </div>
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.dailyByDayReport'}}">
                                <img class="img" src="/dailySumary.png"><span
                                    style="font-size:xx-small">Daily By Day</span></a>
                        </div>
                        <div class="col-md-4 textcenter">
                            <a href="{{pathFor 'lottery.betNumberReport'}}">
                                <img class="img" src="/betNumber.png"><span
                                    style="font-size:xx-small">Bet Number</span></a>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="col-md-6" style="height: 250px">
            <div class="panel panel-primary">
                <div class="panel-heading"  style="background-color: #0D3349;">
                    <h3 class="panel-title"><img src="/config.png" width="25px"
                                                 height="25px"> Configure</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        {{#if isInRole 'setting' 'Lottery'}}
                            <div class="col-md-4 textcenter">
                                <a href="{{pathFor 'lottery.location'}}"><img class="img" src="/location.png"><span
                                        style="font-size:xx-small">Location</span></a>
                            </div>
                            <div class="col-md-4 textcenter">
                                <a href="{{pathFor 'lottery.mapAgent'}}"><img class="img" src="/mapAgent.png"><span
                                        style="font-size:xx-small">Map Agent</span></a>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
