<!--Index-->
<template name="lottery_endPerMonth">
    <div class="animated fadeIn">
        <p>
            <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
        </p>

        {{> tabular table=Lottery.TabularTable.EndPerMonth  class="table table-striped table-bordered table-condensed table-hover"}}
    </div>
</template>

<!--Action-->
<template name="lottery_endPerMonthAction">
    <button class="btn btn-danger remove"><a href="#">{{fa "remove"}}</a></button>
</template>
<!--Insert-->
<template name="lottery_endPerMonthInsert">
    {{#autoForm collection=Lottery.Collection.EndPerMonth id="lottery_endPerMonthInsert" type="insert"}}

        {{> afQuickField name="endDate" type="text"}}

        <div class="pull-right">
            <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
            <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
        </div>

    {{/autoForm}}
</template>
